.footer__container-wrapper {
    color: #fff;
    padding: 3.125rem 1.25rem 1.875rem 1.25rem;
    background-color: var(--clr-secondary);
}

.footer__header-wrapper>*+* {
    margin-top: 2.3125rem;
}

.footer__svg-logo {
    margin-inline: auto;
    filter: invert(100%);
    width: 144px;
}

.footer__ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9375rem;
}

.footer__link {
    color: #fff;
    text-decoration: none;
    font-size: var(--fs-400);
    font-weight: var(--fw-300);
}

.footer__social-container-lg {
    display: none;
}

.footer__social-svg {
    width: 30px;
    aspect-ratio: 1 / 1;
}

.footer__contact-container {
    display: flex;
    flex-direction: column;
}

.footer__contact-container>* {
    margin-top: 2.3125rem;
}

.footer__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer__title {
    width: fit-content;
    font-size: var(--fs-450);
    font-weight: var(--fw-500);
    color: var(--clr-secondary);
    background-color: var(--clr-primary);
    margin-bottom: 2.3125rem;
    padding-inline: 7px;
    border-radius: 5px;
}

.footer__info {
    font-size: var(--fs-400);
    font-weight: var(--fw-200);
    text-align: center;
}

.footer__info:not(:nth-child(2)) {
    margin-top: 0.9375rem;
}

.footer__form {
    display: flex;
    flex-direction: column;
    background-color: #292A32;
    padding: 1.875rem;
    gap: 1.375rem;
    border-radius: 1.875rem;
}

.footer__input {
    font-size: var(--fs-450);
    font-weight: var(--fw-300);
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 1.3125rem 1.5625rem;
}

.footer__input::placeholder {
    color: #fff;
}

.footer__btn {
    font-size: var(--fs-450);
    font-weight: var(--fw-400);
    background-color: var(--clr-primary);
    color: var(--clr-secondary);
    padding: 1.25rem 1.875rem;
    border: 0;
    border-radius: 10px;
}

.footer__social-container-sm {
    margin-block: 2.3125rem;
    display: flex;
    justify-content: center;
    gap: 1.25rem;
}

.footer__bottom-text-wrapper {
    margin-top: 2.3125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Xs */
/* @media (min-width: 320px) {} */

/* Sm */
@media (min-width: 425px) {
    .footer__btn {
        padding: 1.25rem 4.71875rem;
    }

}

/* Md */
/* @media (min-width: 768px) {} */

/* Lg */
@media (min-width: 1024px) {
    .footer-container {
        width: 100%;
        margin-inline: auto;
        padding-inline: 1.5rem;
        max-width: 1024px;
    }

    .footer__container-wrapper {
        padding: 3.4375rem 3.75rem 3.125rem 3.75rem;
        border-top-left-radius: 50px;
        border-top-right-radius: 30px;
    }

    .footer__header-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .footer__header-wrapper>*+* {
        margin-top: 0;
    }

    .footer__svg-logo {
        width: 180px;
    }

    .footer__ul {
        flex-direction: row;
    }

    .footer__link {
        text-decoration: underline;
        font-size: var(--fs-450);
        font-weight: var(--fw-200);
    }

    .footer__social-container-lg {
        display: flex;
        justify-content: center;
        gap: 1.25rem;
    }

    .footer__contact-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 4.125rem;
    }

    .footer__contact-container>* {
        margin-top: 0;
    }

    .footer__text-wrapper {
        display: block;
        text-align: left;
    }

    .footer__title {
        margin-bottom: 0;
        margin-top: 1.6875rem;
        font-size: var(--fs-470);
    }

    .footer__info {
        margin-top: 1.25rem;
        font-size: var(--fs-400);
        text-align: left;
    }

    .footer__form {
        flex-direction: row;
        align-items: center;
        padding: 3.625rem 2.5rem;
        gap: 1.25rem;
    }

    .footer__input {
        padding: 1.375rem 2.1875rem;
        width: 50%;
    }

    .footer__btn {
        padding: 1.25rem 2.1875rem;
        width: 50%;
    }

    .footer__social-container-sm {
        display: none;
        margin-block: 0;
    }

    .footer__hr {
        margin-block: 3.125rem;
    }

    .footer__bottom-text-wrapper {
        margin-top: 0;
        flex-direction: row;
        justify-content: flex-start;
        gap: 2.5rem;
    }
}

/* Xl */
@media (min-width: 1440px) {
    .footer-container {
        max-width: 1440px;
    }
}

/* 2Xl */
/* @media (min-width: 2560px) {} */