/* space-grotesk-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/space-grotesk-v16-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* space-grotesk-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/space-grotesk-v16-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* space-grotesk-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/space-grotesk-v16-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* space-grotesk-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/space-grotesk-v16-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* space-grotesk-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/space-grotesk-v16-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  /* font family */
  --ff-family: "Space Grotesk", sans-serif;

  /* colors */
  --clr-bg-body: #fff;
  --clr-primary: #b9ff66;
  --clr-secondary: #191a23;
  /* 	--clr-secondary: rgb(25, 26, 35) */
  --clr-tertiary: #f3f3f3;

  /* font sizes*/
  --fs-300: 0.9rem;
  --fs-400: 1rem;
  --fs-450: 1.1rem;
  --fs-470: 1.2rem;
  --fs-490: 1.4rem;
  --fs-495: 1.5rem;
  --fs-500: 2rem;
  --fs-600: 2.5rem;
  --fs-650: 3rem;
  --fs-700: 3.5rem;
  --fs-800: 4rem;

  /* font weights */
  --fw-200: 300;
  --fw-300: 400;
  --fw-400: 500;
  --fw-500: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
  font-weight: inherit;
}

html,
body {
  height: 100%;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-family);
  font-size: var(--fs-400);
  background-color: var(--clr-bg-body);
}

img,
svg,
canvas,
picture,
video {
  max-width: 100%;
  display: block;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.5);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--clr-primary);
  outline: 1px solid var(--clr-primary);
}
